[Unit]
Description=Backup linux-machine directories to NAS
# Wait for network to be online before running
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# The script you created earlier
ExecStart=%h/.config/rsync/archive_to_nas.sh

[Install]
WantedBy=default.target